<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Emarsys>
            <version>0.0.7</version>
        </Aligent_Emarsys>
    </modules>
    <default>
        <feeds>
            <enable>
                <emarsys>1</emarsys>
            </enable>
        </feeds>
    </default>
    <feeds>
        <emarsys>
            <fields>
                <id>
                    <header>item</header>
                    <xml_tag>g:id</xml_tag>
                    <attribute>sku</attribute>
                    <!-- if we don't override the value and special tags with blank, it will grab them from the Aligent Feeds config.xml -->
                    <value></value>
                    <special></special>
                </id>
                <url>
                    <header>link</header>
                    <xml_tag>link</xml_tag>
                    <singleton>
                        <class>aligent_emarsys/translator_url</class>
                        <method>translate</method>
                    </singleton>
                </url>
                <title>
                    <attribute>name</attribute>
                </title>
                <image>
                    <header>image</header>
                    <xml_tag>g:image</xml_tag>
                    <special>product_media_base_url</special>
                    <attribute>thumbnail</attribute>
                </image>
                <category>
                    <header>category</header>
                    <xml_tag>g:category</xml_tag>
                    <singleton>
                        <class>aligent_feeds/translator_categories</class>
                        <method>translate</method>
                    </singleton>
                </category>
                <price>
                    <xml_tag>g:price</xml_tag>
                    <attribute>price</attribute>
                </price>
                <msrp>
                    <xml_tag>g:msrp</xml_tag>
                    <value>0</value>
                </msrp>
                <availability>
                    <header>available</header>
                    <xml_tag>g:availability</xml_tag>
                    <singleton>
                        <class>aligent_emarsys/translator_availability</class>
                        <method>translate</method>
                    </singleton>
                </availability>
                <brand>
                    <xml_tag>g:brand</xml_tag>
                    <attribute>brand_value</attribute>
                </brand>
                <zoom_image>
                    <header>zoom_image</header>
                    <xml_tag>g:zoom_image</xml_tag>
                    <special>product_media_base_url</special>
                    <attribute>small_image</attribute>
                </zoom_image>
                <display_price>
                    <header>c_display_price</header>
                    <xml_tag>g:display_price</xml_tag>
                    <singleton>
                        <class>aligent_emarsys/translator_displayprice</class>
                        <method>translate</method>
                        <field>price</field>
                    </singleton>
                </display_price>
            </fields>
            <output>
                <text>
                    <format>csv</format>
                    <delimiter>,</delimiter>
                </text>
            </output>
            <before_query_filter>
                <class>aligent_emarsys/filter</class>
                <method>beforeQueryFilter</method>
                <params>
                    <feed_name>emarsys</feed_name>
                    <stockStatusFromSimple>1</stockStatusFromSimple>
                    <include_disabled>1</include_disabled>
                    <includeSimpleParents>1</includeSimpleParents>
                </params>
            </before_query_filter>
        </emarsys>
    </feeds>
    <crontab>
        <jobs>
            <import_emarsys_data>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <name>Import Emarsys Data</name>
                <run>
                    <model>aligent_emarsys/cron::importEmarsysData</model>
                </run>
            </import_emarsys_data>

            <export_emarsys_data>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <name>Export Emarsys Data</name>
                <run>
                    <model>aligent_emarsys/cron::exportEmarsysData</model>
                </run>
            </export_emarsys_data>

            <import_harmony_data>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <name>Import Harmony Data</name>
                <run>
                    <model>aligent_emarsys/cron::importHarmonyData</model>
                </run>
            </import_harmony_data>

            <export_harmony_data>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <name>Export Harmony Data</name>
                <run>
                    <model>aligent_emarsys/cron::exportHarmonyData</model>
                </run>
            </export_harmony_data>
        </jobs>
    </crontab>
    <global>
        <psr0_namespaces>
            <Snowcap />
            <Snowcap_Emarsys />
            <Snowcap_Emarsys_Client />
        </psr0_namespaces>
        <composer_vendor_path><![CDATA[{{root_dir}}/vendor]]></composer_vendor_path>
        <resources>
            <aligent_emarsys_setup>
                <setup>
                    <module>Aligent_Emarsys</module>
                    <class>Aligent_Emarsys_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aligent_emarsys_setup>
        </resources>

        <blocks>
            <aligent_emarsys>
                <class>Aligent_Emarsys_Block</class>
            </aligent_emarsys>
        </blocks>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Aligent_Emarsys_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <aligent_emarsys>
                <class>Aligent_Emarsys_Model</class>
                <resourceModel>aligent_emarsys_resource</resourceModel>
            </aligent_emarsys>
            <aligent_emarsys_resource>
                <class>Aligent_Emarsys_Model_Resource</class>
                <entities>
                    <remoteSystemSyncFlags>
                        <table>aligent_emarsys_remote_system_sync_flags</table>
                    </remoteSystemSyncFlags>
                </entities>
            </aligent_emarsys_resource>
        </models>
        <helpers>
            <aligent_emarsys>
                <class>Aligent_Emarsys_Helper</class>
            </aligent_emarsys>
        </helpers>
        <events>
            <aligent_feeds_complete>
                <observers>
                    <aligent_emarsys_feeds_after>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>consolidateEmarsysData</method>
                    </aligent_emarsys_feeds_after>
                </observers>
            </aligent_feeds_complete>
            <customer_save_after>
                <observers>
                    <aligent_emarsys_customer_save_after>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>customerModelChanged</method>
                    </aligent_emarsys_customer_save_after>
                </observers>
            </customer_save_after>
            <sales_quote_merge_after>
                <observers>
                    <aligent_emarsys_sales_quote_merge_after>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>checkoutCartMergeUpdateCookie</method>
                    </aligent_emarsys_sales_quote_merge_after>
                </observers>
            </sales_quote_merge_after>
            <customer_logout>
                <observers>
                    <aligent_emarsys_customer_logout>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>removeUserFromCookie</method>
                    </aligent_emarsys_customer_logout>
                </observers>
            </customer_logout>
            <customer_login>
                <observers>
                    <aligent_emarsys_customer_login>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>addUserToCookie</method>
                    </aligent_emarsys_customer_login>
                </observers>
            </customer_login>
            <checkout_cart_save_after>
                <observers>
                    <aligent_emarsys_checkout_cart_save_after>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>checkoutCartSaveUpdateCookie</method>
                    </aligent_emarsys_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <aligent_emarsys_sales_model_service_quote_submit_success>
                        <type>singleton</type>
                        <class>aligent_emarsys/observer</class>
                        <method>afterCheckoutSuccess</method>
                    </aligent_emarsys_sales_model_service_quote_submit_success>
                </observers>
            </sales_model_service_quote_submit_success>

            <newsletter_subscriber_save_before>
                <observers>
                    <aligent_emarsys_newsletter_subscriber_save_before>
                        <class>aligent_emarsys/observer</class>
                        <method>handleSubscriber</method>
                    </aligent_emarsys_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </global>
    <frontend>
        <routers>
            <aligent_emarsys>
                <use>standard</use>
                <args>
                    <module>Aligent_Emarsys</module>
                    <frontName>emarsys</frontName>
                </args>
            </aligent_emarsys>
        </routers>
        <layout>
            <updates>
                <aligent_emarsys>
                    <file>aligent/emarsys.xml</file>
                </aligent_emarsys>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_emarsys>
                                            <title>Aligent Emarsys</title>
                                        </aligent_emarsys>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <aligent_emarsys>
            <settings>
                <cookie_key>cart_contents</cookie_key>
                <enabled>1</enabled>
                <send_email>1</send_email>
                <test_mode>1</test_mode>
                <send_parent_sku>1</send_parent_sku>
                <store_sku>0</store_sku>
                <send_website_code>1</send_website_code>

            </settings>
            <emarsys_api_settings>
                <emarsys_changes_period>24</emarsys_changes_period>
            </emarsys_api_settings>
            <subscription>
                <enabled>1</enabled>
                <base_url></base_url>
                <curl_timeout>5</curl_timeout>
            </subscription>
            <feed>
                <stock_from_simple>1</stock_from_simple>
                <include_simple_parents>1</include_simple_parents>
                <include_disabled>1</include_disabled>
            </feed>
        </aligent_emarsys>
    </default>
</config>